<!DOCTYPE html>
<html>

<head>
  <title>Alexandru Gheorghe</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    #banner {
      height: 420px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 16px;
    }
  </style>
</head>

<body>

  <nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">
      <img src="/static/logo.webp" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Familia Muntenas 
    </a>
  </div>
</nav>
<div style="height:56px"></div>
 
  <img class="img-fluid d-none d-md-block" id="banner" src="/static/ali_ban.png">
  <div class="container">
    <h1 class="text-center mt-2 mb-4">
      Alexandru Muntenas
    </h1>
    <div class="row" style="margin-bottom:32px">
      <div class="col-md-6">
        <p class="lead">
          Eu sunt Alexandru
          Mai multa descrieere cu timpul...
        </p>
      </div>
      <div class=" col-md-6">
        <img src="/static/ali.webp" style="width=480px;height:640px;border-radius:4px;">
      </div>
    </div>

  <div class="row" style="margin-bottom:32px">
      
      <div class="col-md-6">
        <img src="/static/ali1.webp" style="width=480px;height:640px;border-radius:4px;">
      </div>
    <div class="col-md-6">
        <img src="/static/ali2.webp" style="width=480x;height:640px;border-radius:4px;">
      </div>
    </div>
    
  
    <div class="text-center">
      <a class="btn btn-primary btn-lg"
        href="mailto:alexandru.muntenas@gmail.com?subject=Quero%20hablar%20contigo...">Trimite e-mail</a>
      
    </div>
  </div>

</html>