<!DOCTYPE html>
<html>

<head>
  <title>Familia Muntenas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    #banner {
      height: 560px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 16px;
    }
  </style>
</head>

<body>
  {% include 'nav.html' %}
  <img class="img-fluid" id="banner" src="/static/ban.JPG">
  <div class="container">
    <h1 class="text-center mt-2 mb-4">
      Despre familia Muntenas
    </h1>
    <div class="row" style="margin-bottom:32px">
      <div class="col-md-6">
        <p class="lead">
          Suntem familia Muntenas.
          Mai multa descrieere cu timpul...
        </p>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="/static/us.JPG" style="height:640px;border-radius:4px;">
      </div>
    </div>
    <h2 class="text-center mt-2 mb-4">Membrii familiei</h2>
  {% include 'members.html' %}  
    <div class="text-center">
      <a class="btn btn-primary btn-lg"
        href="mailto:alexandru.muntenas@gmail.com?subject=Quero%20hablar%20contigo...">Trimite e-mail</a>
      
    </div>
  </div>
  {% include 'down.html' %}
</body>

</html>